<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href = "\">Grįžti į pradžią</a>
<br>
<br>
<h3>išlaidos</h3>
<form action="#" method="post">
    <p>suma: {{ispejimas}}</p>
    <p><input type="text" name="suma"/></p>
    <p>atsiskaitymo būdas:</p>
    <p><input type="text" name="atsiskaitymo_budas"/></p>
    <p>įsigyta prekė / paslauga:</p>
    <p><input type="text" name="isigyta_preke_paslauga"/></p>
    <p><input type="submit" value="submit"/></p>
</form>

</body>
</html>